// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #3679a4
$secondary = #30445a
$accent    = #e6be67

$positive  = #7c9675
$negative  = #892722
$info      = #5b8385
$warning   = #bc5d2d

@import '~quasar-variables-styl'
